.mat-form-field {
      padding-left: 5%;
}
  
.refress-button {
      margin-left: 1%;
}

table {
      width: 100%;
}    

.mat-elevation-z8{
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 1%
}